body {
    height: 100vh;
    width: 100vw;
    max-width:100vw;
    background-image: radial-gradient(#cfcdcd, #FFFFFF)
}
video{
    position:absolute;
    top:25vh;
    width:100vw;
    object-fit:cover;
    object-position:center;
    max-height:50vh;
    z-index:1;
}
#homeVideo_div {
    opacity: 0;
    transition: opacity 1.5s ease-out 0.1s;
}
#modale_home {
    background-image: url("../IMAGES/Home_bg.jpg");
    background-size: cover;
    background-position: right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}
#modale_home img{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    max-width:100vw;
    max-height:100vh;
    overflow:hidden;
}
#playVideo {
    padding: 5px 20px;
    background-color: #000000;
    box-shadow: #909090 0 0 3px 0;
    border-radius:10px;
    opacity: 1;
    transition: opacity 1s ease-out 0.1s, background-color 1s ease-out 0.1s;
}
#playVideo:hover {
    background-color: #4e4e4e;
    transition: background-color 1s ease-out 0.1s;
}
a {
    color: #ffffff !important;
}
a:hover{
    text-decoration:none !important;
}
.buttons{
    width:94vw;
    z-index:10;
    animation: ping 5s ease-in-out infinite;
}
#homeBg_hover{
    animation:pulse_opacity 6s ease-in-out infinite;
}
#bande_home {
    padding: 30px;
    background-image: linear-gradient(to right, #48484833, #000000b8);
    height: 30vh;
    width: 100vw;
    top: 37vh;
    position: absolute;
    z-index: 20;
}
.white {
    color:#ffffff !important;
}
#menu {
    width: 100vw;
    background-image: linear-gradient(to bottom, #424242a1, #000000b0, #5050509e);
    position: absolute;
    top: 5vh;
    padding-top: 10px;
}
#copyright{
    width:100vw;
    position:absolute;
    bottom:5vh;
    z-index:10;
}

/*LOGO DYNAMIQUE*/
.logo{
    width:70px;
    height:70px;
    opacity:0.35;
    position:absolute;
}
#logo1 {
    animation: fly 6s ease-out 1.5s forwards;
    opacity: 0;
}
#logo2 {
    transform: rotate(20deg) translateX(8px) translateY(-8px);
    animation: fly2 7s ease-out 0.5s forwards;
    opacity: 0;
}
#logo3 {
    transform: rotate(25deg) translateX(10px) translateY(4px);
    animation: fly3 6s ease-out 1s forwards;
    opacity: 0;
}
#logoDiv {
    padding-bottom: 50px;
    width: 90vw;
}






@media screen and (min-width: 776px) {
    video {
        position: absolute;
        top: 25vh;
        height: 50vw;
        width: 100vw;
        object-fit: contain;
    }
}

/*PULSE NAVIGATION - SIMULATOR NAVIGATION */
@keyframes pulse {
    0% {
        transform: scale(1) translateX(0) translateY(0);
    }

    50% {
        transform: translateX(5px) translateY(5px);
    }

    100% {
        transform: scale(1) translateX(0) translateY(0);
    }
}

@-webkit-keyframes pulse {
    from {
        transform: scale(1) translateX(0) translateY(0);
    }

    50% {
        transform: translateX(5px) translateY(5px);
    }

    to {
        transform: scale(1) translateX(0) translateY(0);
    }
}

/*PULSE OPACITY - SIMULATOR NAVIGATION */
@keyframes pulse_opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulse_opacity {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/*PING PONG -*/
@keyframes ping {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        transform: translateX(10px);
    }

    50%{
        opacity:1;
    }

    75% {
        opacity: 0.5;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes ping {
    from {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
        transform: translateX(10px);
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
    }
}

/*FLY - SIMULATOR NAVIGATION */
@keyframes fly {
    0% {
        transform: scale(1) translateX(0) translateY(0);
        opacity:0;
    }

    20% {
        transform: scale(1.05) translateX(2px) translateY(5px);
    }
    40% {
        transform: scale(1.1) translateX(3px) translateY(0px);
    }
    60% {
        transform: scale(1.1) translateX(5px) translateY(-3px);
    }
    80% {
        transform: scale(1.05) translateX(3px) translateY(-2px);
    }

    100% {
        transform: scale(1) translateX(0) translateY(0);
        opacity: 0.4;
    }
}

@-webkit-keyframes fly {
    from {
        transform: scale(1) translateX(0) translateY(0);
        opacity: 0;
    }
    20% {
        transform: scale(1.05) translateX(2px) translateY(5px);
    }

    40% {
        transform: scale(1.1) translateX(3px) translateY(0px);
    }

    60% {
        transform: scale(1.1) translateX(5px) translateY(-3px);
    }

    80% {
        transform: scale(1.05) translateX(3px) translateY(-2px);
    }
    to {
        transform: scale(1) translateX(0) translateY(0);
        opacity: 0.4;
    }
}

/*FLY LOGO2 - SIMULATOR NAVIGATION */
@keyframes fly2 {
    0% {
        transform: scale(1) rotate(20deg) translateX(8px) translateY(-8px);
        opacity: 0;
    }

    20% {
        transform: scale(1.05) translateX(2px) translateY(5px);
    }

    40% {
        transform: scale(1.1) translateX(3px) translateY(0px);
    }

    60% {
        transform: scale(1.1) translateX(5px) translateY(-3px);
    }

    80% {
        transform: scale(1.05) translateX(3px) translateY(-2px);
    }

    100% {
        transform: scale(1) rotate(20deg) translateX(8px) translateY(-8px);
        opacity: 0.4;
    }
}

@-webkit-keyframes fly2 {
    from {
        transform: scale(1) rotate(20deg) translateX(8px) translateY(-8px);
        opacity: 0;
    }

    20% {
        transform: scale(1.05) rotate(15deg) translateX(6px) translateY(-10px);
    }

    40% {
        transform: scale(1.1) rotate(10deg) translateX(4px) translateY(-10px);
    }

    60% {
        transform: scale(1.1) rotate(14deg) translateX(6px) translateY(-11px);
    }

    80% {
        transform: scale(1.05) rotate(18deg) translateX(7px) translateY(-9px);
    }

    to {
        transform: scale(1) rotate(20deg) translateX(8px) translateY(-8px);
        opacity: 0.4;
    }
}


/*FLY LOGO3 - SIMULATOR NAVIGATION */
@keyframes fly3 {
    0% {
        transform: scale(1) rotate(25deg) translateX(10px) translateY(4px);
        opacity: 0;
    }

    20% {
        transform: scale(1.05) rotate(22deg) translateX(8px) translateY(6px);
    }

    40% {
        transform: scale(1.1) rotate(20deg) translateX(6px) translateY(4px);
    }

    60% {
        transform: scale(1.1) rotate(18deg) translateX(5px) translateY(2px);
    }

    80% {
        transform: scale(1.05) rotate(22deg) translateX(7px) translateY(2px);
    }

    100% {
        transform: scale(1) rotate(25deg) translateX(9px) translateY(4px);
        opacity: 0.4;
    }
}

@-webkit-keyframes fly3 {
    from {
        transform: scale(1) rotate(25deg) translateX(10px) translateY(4px);
        opacity: 0;
    }

    20% {
        transform: scale(1.05) rotate(22deg) translateX(8px) translateY(6px);
    }

    40% {
        transform: scale(1.1) rotate(20deg) translateX(6px) translateY(4px);
    }

    60% {
        transform: scale(1.1) rotate(18deg) translateX(5px) translateY(2px);
    }

    80% {
        transform: scale(1.05) rotate(22deg) translateX(7px) translateY(2px);
    }

    to {
        transform: scale(1) rotate(25deg) translateX(9px) translateY(4px);
        opacity: 0.4;
    }
}

